.wrapper {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh;
    // background-color: deepskyblue !important;
    // background: linear-gradient(rgb(148, 228, 255), rgb(0, 191, 255));
    background-color: rgb(151, 21, 21);
    padding: 1rem;

    .title {
        margin-bottom: 20px;

        h1 {
            color: #e7f9ff;
            font-size: 2rem;
            font-weight: bold;
        }

        p {
            color: white;
            font-style: italic;
        }
    }

    ion-item {
        --background: transparent;
        color: #fff;
        border-radius: 5px;

        ion-label {
            font-weight: bold;
        }

    }

    ion-button {
        font-size: .8rem;
        margin-top: 20px;
        display: block;
        font-size: 1;
        font-weight: bold;
        background-color: rgb(182, 64, 64);
        color: #fafafa;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

}