<ion-card>
  <ion-item>

    <!-- LOGO -->
    <ion-avatar aria-hidden="true" slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-avatar>

    <!-- INFO -->
    <ion-label>
      <h2>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </h2>
      <p>
        <ion-skeleton-text animated style="width: 50%; height: 20%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </p>
    </ion-label>

  </ion-item>
</ion-card>