ion-header {
  border-bottom: 1px solid rgba(54, 54, 54, 0.1);

  ion-toolbar {
    --background: rgb(151, 21, 21);
    --color: #fff;
  }
}

.location-container {
  display: flex;
  align-items: center;
  cursor: pointer;

  .location-name {
    margin-right: 10px;
  }

  ion-icon {
    color: #fff;
    font-size: 1.5rem;
  }
}

//THEME MODE ICON
#theme-mode {
  font-size: 1.2rem;
  margin-right: 5px;

  &[name~='sunny'] {
    color: yellow;
  }

  &[name~='moon'] {
    color: #000;
  }
}

//SEARCH-BAR
ion-searchbar {
  --box-shadow: none;
}

swiper-container {
  // height: auto!important;
  // position: relative;
  // height: auto!important;
  // overflow-y: auto;
}

swiper-slide {
  height: auto !important;
  // overflow: auto;

  .not-found-icon {
    font-size: 3rem;
    color: var(--ion-color-danger);
  }
}

ion-list {
  width: 100%;
  // z-index: 9999;

  ion-item {
    width: 100%;
  }
}

ion-grid {
  padding: 0;
}

.footer-menu {
  max-width: 100%;
  text-align: center;

  ion-col {
    ion-icon, ion-text {
      font-size: 0.85rem;
    }


    &.active-contact {
      color: var(--ion-color-danger) !important;
    }

    &.border {
      border-right: 1px solid #DEDEDE;
    }

    &:hover {
      color: #000;
    }
  }

  // z-index: 99999;



}